<%- include('../layout/header') %>
	<% result.forEach(function (post) { %>
	  <div class="panel panel-success">
		  <div class="panel-heading"><a href="./posts/<%= post._id %>"><%= post.title %></a></div>
		  <div class="panel-body"><%= post.content %></div>
		  <div class="panel-footer clearfix">
		  	<span class="text-muted marin10"><%= post.created_at %></span>
		  	<span class="marin10 text-muted">浏览(<%= post.pv %>)</span>
		  	<span class="marin10 text-muted"><a href="/comments">评论(10)</a></span><span class="marin10 caret"></span> </div>
		</div>
  <% }) %>
<%- include('../layout/footer') %>
