<%- include('../layout/header') %>
	<% result.forEach(function (post) { %>
	  <div class="panel panel-danger">
		  <div class="panel-heading"><%= post.title %></div>
		  <div class="panel-body"><%= post.content %></div>
		  <div class="panel-footer clearfix">
		  	<span class="text-muted marin10"><%= post.created_at %></span>
		  	<span class="marin10 text-muted">浏览(<%= post.pv %>)</span>
		  	<span class="marin10 text-muted">评论(100)</span><span class="marin10 caret"></span>
		  	<a class="marin10" href="./<%= post._id %>/edit">编辑</a>
		  	<% if (post.deletePost) {%><a href="./<%= post._id %>/remove">删除</a> <%}%>
		  </div>
		</div>
  <% }) %>
<%- include('../layout/footer') %>
